.Topic {
  display: flex;
  justify-content: space-between;
  background-color: var(--primaryColor1);

  padding: 12px;

  font-weight: bold;
  font-size: medium;

  border: 1px solid transparent;
  border-radius: var(--borderRadius);
}

.Topic:hover {
  border: 1px solid var(--borderColor);

  cursor: pointer;
}

.Topic__selected {
  color: var(--textDarkBg);
}

.Topic__selected:hover {
  border: none;
  cursor: auto;
}
