.DifficultyButton {
  border-radius: var(--borderRadius);
  background-color: var(--borderColor);

  font-size: small;
  color: var(--textDarkBg);

  padding: 12px;

  cursor: pointer;
}

.DifficultyButton:hover {
  border: 1px solid var(--borderColor);
}
