.LanguageDisplay {
  width: 75%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;

  gap: 20px;
}

.LanguageDisplay__ChangeIcon {
  cursor: pointer;
  display: flex;
  transition: transform 0.5s;
}

.LanguageDisplay__ChangeIcon:hover {
  transform: rotate(180deg);
}

.LanguageDisplay__Flag {
  width: fit-content !important;
  outline: 1px solid var(--flagBorder);
}

.LanguageDisplay__Flag {
  height: 75px !important;
}
