.Topics {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Topics__RefreshIconSpin {
  animation-name: spin;
  animation-duration: 1s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
