.MessageBubble {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 16px;
}

.MessageBubble__User {
  margin-left: auto;
  align-items: flex-end;
}

.MessageBubble__Chatbot {
  margin-right: auto;
}

.MessageBubble__Bubble {
  padding: var(--midPadding);
  font-size: var(--smallText);

  border-radius: var(--borderRadius);

  box-shadow: 4px 4px 4px 0px var(--boxShadowColor);

  border: 1px solid var(--borderColor);
  background: var(--primaryColor1);
}

.MessageBubble__lang {
  border: none;
  color: var(--textDarkBg);
}

.MessageBubble__Options {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
