.MessageBubble {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.MessageBubble__Bubble {
  padding: var(--midPadding);
  font-size: var(--smallText);

  border-radius: var(--borderRadius);

  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);

  border: 1px solid var(--borderColor);
  background: var(--primaryColor1);
}

.MessageBubble__lang {
  border: none;
  color: var(--textDarkBg);
}
