.SavedPhrase__Container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.SavedPhrase {
  width: 100%;
  padding: 12px;

  border-radius: var(--borderRadius);

  font-size: small;

  background-color: var(--borderColor);
}
