:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --background: white;
  --primaryColor1: #f6f6f6;

  --borderRadius: 5px;
  --borderColor: #dcdcdc;

  --smallText: 14px;
  --textDarkBg: #ffffff;

  --midPadding: 20px;

  /* Language Accent Colors */
  --spanishColor: #9c2824;
  --frenchColor: #0b2551;
  --italianColor: #40904e;
  --germanColor: #cb2c1d;
  --portugueseColor: #2b6419;
  --dutchColor: #2b4586;
  --swedishColor: #f6cd45;
  --ukrainianColor: #f9d949;
  --turkishColor: #d03028;
  --japaneseColor: #ac2333;
  --koreanColor: #1b47ae;
  --mandarinColor: #db3832;
  /* --germanColor: #f7d146; */
  /* --spanishColor: #D82C21; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primaryColor1: #000000;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--background));
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}
