:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --background: white;
  --primaryColor1: #f6f6f6;
  --borderColor: #dcdcdc;
  --chevronColor: #808080;
  --textDarkBg: #ffffff;
  --boxShadowColor: rgba(0, 0, 0, 0.25);
  --modalBackground: rgba(255, 255, 255, 0.8);
  --flagBorder: black;

  --borderRadius: 5px;
  --smallText: 14px;

  --midPadding: 20px;

  /* Language Accent Colors */
  --spanishColor: #9c2824;
  --frenchColor: #0b2551;
  --italianColor: #40904e;
  --germanColor: #cb2c1d;
  --portugueseColor: #2b6419;
  --dutchColor: #2b4586;
  --swedishColor: #f6cd45;
  --ukrainianColor: #f9d949;
  --turkishColor: #d03028;
  --japaneseColor: #ac2333;
  --koreanColor: #1b47ae;
  --mandarinColor: #db3832;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --primaryColor1: #1f1f1f;
    --borderColor: #252525;
    --textColor: white;
    --boxShadowColor: rgba(0, 0, 0, 0.25);
    --modalBackground: rgba(0, 0, 0, 0.8);
    --flagBorder: #dedede;

    /* Green dark theme */
    /* --background: #0f2626;
    --primaryColor1: #1b3c3c;
    --borderColor: #174646;
    --textColor: white;
    --boxShadowColor: rgba(0, 0, 0, 0.35);
    --modalBackground: rgba(15, 38, 38, 0.8);
    --flagBorder: #dedede; */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background);
  overflow: hidden;
}

body {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}
