.Home {
  display: flex;
  height: 100%;
  background: var(--background);
  color: var(--textColor);
}

.Home__Sidebar {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Home__Body {
  display: flex;
  gap: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Home__Divider {
  width: 2px;
  height: 100%;

  background: var(--borderColor);
}
