.ChatThread {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;
  overflow-y: auto;
  padding: 24px 80px;
  /* box-shadow: inset 0 0 10px #c5c5c5;
  background-color: var(--borderColor);
  border-radius: var(--borderRadius); */
  /* mask-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 1) 65%,
    rgba(255, 0, 0, 0)
  ); */
}
