.Sidebar {
  display: flex;
  width: 100%;
  max-width: 350px;
  justify-content: space-between;
}

.Sidebar__Reverse {
  flex-direction: row-reverse;
}

.Sidebar__Content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.Sidebar__Divider {
  width: 2px;
  height: 100%;

  background: var(--borderColor);
}

.Sidebar__Header {
  /* margin-bottom: 20px; */
}

.Sidebar__Title {
  cursor: pointer;
  padding-bottom: 10px;

  font-size: x-large;
  font-weight: bold;
}

.Sidebar__Chevron {
  display: flex;
  transition: transform 0.5s;
}

.Sidebar__OpenChevron {
  transform: rotate(180deg);
}

.Sidebar__MainContent {
  height: 0;
  transition: height 1s;
  overflow: hidden;
}

.Sidebar__MainContentOpen {
  height: 100%;
}

.Sidebar__TitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Sidebar__DescriptionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 12px;
}

.Sidebar__Description {
  max-width: 65%;
  font-size: var(--smallText);
}

.Sidebar__MainContentChildren {
  overflow-y: auto;
  height: 90%;
}
