.Sidebar {
  display: flex;
  flex-direction: column;
  background: var(--primaryColor1);
  box-shadow: 2px 0px 15px 5px var(--boxShadowColor);
  position: relative;
  transition: all 0.75s;
  min-width: 0px;
  left: -360px;
  overflow: hidden;
  width: 1px;
}

.Sidebar__open {
  left: 0px;
  width: 350px;
  min-width: 350px;
}

.Sidebar__Container {
  display: flex;
}

.Sidebar__Tab {
  position: relative;
  top: 20px;
  left: 20px;
  height: fit-content;
  display: flex;
  padding: 10px;

  cursor: pointer;
}
