.ChatbotAvatar {
  max-height: 40px;
  min-height: 40px;
  max-width: 40px;
  min-width: 40px;

  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;

  font-size: var(--smallText);
  font-weight: bold;

  box-shadow: 2px 2px 4px 0px var(--boxShadowColor);
  color: var(--textDarkBg);
}
