.Difficulties {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.Difficulties__Option {
  cursor: pointer;

  background: var(--borderColor);
  border: 1px solid transparent;
  border-radius: var(--borderRadius);

  padding: 15px;

  font-size: small;
  text-transform: capitalize;
}
.Difficulties__Option:hover {
  border: 1px solid var(--chevronColor);
}

.Difficulties__OptionSelected {
  border: 1px solid transparent;
  color: var(--textDarkBg);
}

.Difficulties__OptionSelected:hover {
  border: 1px solid transparent;
  cursor: auto;
}
